In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Iris.csv')
X = df.drop(columns=['Species'])

In [3]:
from scipy.cluster.hierarchy import  linkage

In [4]:
linkage_matrix = linkage(X, 'ward')

In [5]:
from sklearn.cluster import AgglomerativeClustering

In [6]:
num_clusters = 3
cluster_model = AgglomerativeClustering(n_clusters=num_clusters, linkage='ward')
clusters = cluster_model.fit_predict(X)

In [7]:
clusters

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [8]:
iris_df = pd.DataFrame(data=np.column_stack((X, clusters)), columns=['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',] + ['Cluster'])

In [9]:
iris_df.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Cluster
0  1.0            5.1           3.5            1.4           0.2      0.0
1  2.0            4.9           3.0            1.4           0.2      0.0
2  3.0            4.7           3.2            1.3           0.2      0.0
3  4.0            4.6           3.1            1.5           0.2      0.0
4  5.0            5.0           3.6            1.4           0.2      0.0

In [10]:
iris_df['Cluster'].value_counts()

Cluster
0.0    61
1.0    50
2.0    39
Name: count, dtype: int64