In [3]:
import pandas as pd

In [4]:
heart_disease = pd.read_csv('heartdisease.csv')

In [5]:
heart_disease

    age  Gender  Family  diet  Lifestyle  cholestrol  heartdisease
0     0       0       1     1          3           0             1
1     0       1       1     1          3           0             1
2     1       0       0     0          2           1             1
3     4       0       1     1          3           2             0
4     3       1       1     0          0           2             0
5     2       0       1     1          1           0             1
6     4       0       1     0          2           0             1
7     0       0       1     1          3           0             1
8     3       1       1     0          0           2             0
9     1       1       0     0          0           2             1
10    4       1       0     1          2           0             1
11    4       0       1     1          3           2             0
12    2       1       0     0          0           0             0
13    2       0       1     1          1           0             1
14    3       1       1     0          0           1             0
15    0       0       1     0          0           2             1
16    1       1       0     1          2           1             1
17    3       1       1     1          0           1             0
18    4       0       1     1          3           2             0

In [8]:
# from pgmpy.models import BayesianNetwork
# from pgmpy.estimators import MaximumLikelihoodEstimator
# from pgmpy.inference import VariableElimination

In [9]:
# model=BayesianNetwork([
# ('age','Lifestyle'),
# ('Gender','Lifestyle'),
# ('Family','heartdisease'),
# ('diet','cholestrol'),
# ('Lifestyle','diet'),
# ('cholestrol','heartdisease'),
# ('diet','cholestrol')
# ])

In [10]:
# model.fit(df, estimator=MaximumLikelihoodEstimator)

In [12]:
# HeartDisease_infer = VariableElimination(model)

In [13]:
# print('For age Enter { SuperSeniorCitizen:0, SeniorCitizen:1, MiddleAged:2, Youth:3, Teen:4 }')
# print('For Gender Enter { Male:0, Female:1 }')
# print('For Family History Enter { yes:1, No:0 }')
# print('For diet Enter { High:0, Medium:1 }')
# print('For lifeStyle Enter { Athlete:0, Active:1, Moderate:2, Sedentary:3 }')
# print('For cholesterol Enter { High:0, BorderLine:1, Normal:2 }')

In [11]:
# q = HeartDisease_infer.query(variables=['heartdisease'], evidence={
#     'age':int(input('Enter age :')),
#     'Gender':int(input('Enter Gender :')),
#     'Family':int(input('Enter Family history :')),
#     'diet':int(input('Enter diet :')),
#     'Lifestyle':int(input('Enter Lifestyle :')),
#     'cholestrol':int(input('Enter cholestrol :'))
#     })

In [15]:
# q.values